.search-content {
}

#searchform {
    position: absolute;
    left: 0;
    bottom: 70px;
}

#searchform input[type="text"] {
    background-color: #1a1718;
    width: calc(100% - 60px);
    float: left;
}

#searchsubmit {
    width: 60px;
    height: 60px;
    background-color: #f26622;
    text-align: center;
    color: #1a1718;
    float: right;
    font-size: 24px;
    line-height: 1;
}

.social-content {
    background-color: #3a3334;
    width: 181px;
    height: 70px;
    padding-left: 25px;
    padding-top: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.social-list {
    list-style: none;
    padding: 0;
    float: left;
}

.social-list li {
    float: left;
    margin-right: 35px;
}

.social-list li:last-child {
    margin-right: 0;
}

.social-list li a {
    display: block;
}

.social-list li .facebook {
    background: url("../images/facebook.png") no-repeat scroll 0 0 transparent;
    width: 13px;
    height: 29px;
}

.social-list li .facebook:hover {
    background: url("../images/facebook_hover.png") no-repeat scroll 0 0 transparent;
}

.social-list li .twitter {
    background: url("../images/twitter.png") no-repeat scroll 0 0 transparent;
    width: 27px;
    height: 29px;
}

.social-list li .twitter:hover {
    background: url("../images/twitter_hover.png") no-repeat scroll 0 0 transparent;
}

.social-list li .instagram {
    background: url("../images/instagram.png") no-repeat scroll 0 0 transparent;
    width: 26px;
    height: 29px;
}

.social-list li .instagram:hover {
    background: url("../images/instagram_hover.png") no-repeat scroll 0 0 transparent;
}

.sidebar-navbar-collapse {
    float: none;
    position: relative;
    left: 10px;
    top: 0px;
    z-index: 20;
}

.sidebar-navbar-collapse .icon-bar {
    background-color: #f26622;
}

.page-main-wrapper {
    margin: 0;
    padding: 0;
}

.page-main-wrapper section {
    position: relative;
    clear: both;
}

.section-bg {
    z-index: -1;
    position: relative;
    left: 0;
    top: 0;
}

.section-bg img {
    width: 100%;
    height: auto;
}

.section-content {
    position: relative;
    left: 181px;
    top: 0;
    width: calc(100% - 181px);
    height: 100%;
}

.section-content .container-fluid {
    padding: 0;
}

.section-content .row {
    margin: 0;
}

.section-content div[class*="col"] {
    padding: 0;
}

.btn_see_gator {
    width: 228px;
    height: 93px;
    line-height: 73px;
}

.btn_see_gator:hover {

}

/*************************** section1 stylesheet start *****************************/

#section1 .section-content {
    background: url("../images/section2.jpg") no-repeat scroll center center / cover transparent;
    padding: 65px 75px;
}

#section1 h1 {
    font-family: "Swiss911";
    font-size: 90px;
    color: #ffffff;
}

#section1 .content-title-divider {
    background-color: #f26622;
    width: 290px;
    height: 10px;
}

#section1 .gator-logo {
    margin-top: 20px;
    width: auto;
}

#section1 .btn_play_button {
    background: url("../images/play_button.png") no-repeat scroll 0 0 transparent;
    width: 147px;
    height: 147px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 0;
    margin-top: -73px;
}

#section1 .btn_play_button:hover {
    background: url("../images/play_button_hover.png") no-repeat scroll 0 0 transparent;
}

#section1 .btn_see_gator {
    margin-top: 290px;
}

/*************************** section1 stylesheet end *****************************/

/*************************** category section stylesheet start *****************************/

.category-section {
    background-color: #231f20;
    padding: 27px 0;
}

.category-nav {
    width: 100%;
    text-align: center;
}

.category-nav li {
    display: inline-block;
    margin: 0 15px;
    text-align: center;
}

.category-nav li > a {
    color: #6f6969;
    font-family: "Swiss911";
    font-size: 34px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
}

.category-nav li > a:hover {
    color: #ccc6c0;
}

.category-nav li.divider {
    width: 2px;
    height: 25px;
    background-color: #f26522;
}

/*************************** category section stylesheet end *****************************/

/*************************** section2 stylesheet start *****************************/

#section2 {
    background-color: #f26522;
}

#section2 .section-content {
    padding: 30px 60px 30px 30px;
}

#section2 .team-orange {
    width: auto;
    margin: 50px auto;
    display: block;
}

.sign-me-content {
    padding: 0 60px;
}

.sign-me-content h3 {
    font-family: "NimbusSanTCon Bold";
    font-size: 22px;
    color: #231f20;
}

.sign-me-content p {
    font-family: "NimbusSanTCon";
    font-size: 14px;
    line-height: 28px;
    color: #231f20;
    margin: 10px 0;
}

.sign-me-email {

}

.sign-me-up {
    background-color: transparent;
    border: 7px solid #231f20;
    font-family: "Swiss911";
    font-size: 24px;
    color: #231f20;
    text-decoration: none;
    width: 100%;
    height: 60px;
    line-height: 1;
    text-align: center;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.sign-me-up:hover {
    background-color: #231f20;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.sign-me-content .row {
    margin-left: -6px;
    margin-right: -6px;
}

.sign-me-content div[class*="col"] {
    padding-left: 6px;
    padding-right: 6px;
}

/*************************** section2 stylesheet end *****************************/

/*************************** section3 stylesheet start *****************************/

#section3 img {
    width: 100%;
}

#section3 .section-content {
    background-color: #3a3334;
}

button.product-finder-button, .button.product-finder-button {
    width: 207px;
    height: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -103px;
    margin-top: -37px;
}

.applet-area {
    display: none;
    padding: 88px 0;
}

.button.back-button {
    width: auto;
    height: auto;
    font-size: 20px;
    border: 4px solid #6f696a;
    padding: 4px 30px;
    margin: 10px 30px 10px;
    display: inline-block;
    line-height: normal;
}

.back-button:hover, .back-button:visited, .back-button:focus {
    background-color: #6f696a;
}

.applet-title {
    color: #FFFFFF;
    text-align: center;
    font-family: "Swiss911";
    font-size: 98px;
    line-height: 1;
    margin-bottom: 26px;
}

.search-by-button {
    width: 70%;
    margin: 0 15%;
}

/* search by icon */
.search-by-icon {
    display: block;
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
    background-color: transparent;
    margin-bottom: 35px;
}

.vehicle-icon {
    background-image: url("../images/applet/vehicle.png");
}

.vehicle-icon.hover {
    background-image: url("../images/applet/vehicle_hover.png");
}

.industry-icon {
    background-image: url("../images/applet/industry.png");
}

.industry-icon.hover {
    background-image: url("../images/applet/industry_hover.png");
}

.capacity-icon {
    background-image: url("../images/applet/capacity.png");
}

.capacity-icon.hover {
    background-image: url("../images/applet/capacity_hover.png");
}

/* buy icon */
.search-by-icon.buy-icon {
    height: 280px;
    background-position: center center;
    margin-bottom: 0;
}

.buy-online-icon {
    background-image: url("../images/applet/buy_online.png");
}

.buy-online-icon.hover {
    background-image: url("../images/applet/buy_online_hover.png");
}

.buy-local-icon {
    background-image: url("../images/applet/buy_local.png");
}

.buy-local-icon.hover {
    background-image: url("../images/applet/buy_local_hover.png");
}

.buy-international-icon {
    background-image: url("../images/applet/buy_international.png");
}

.buy-international-icon.hover {
    background-image: url("../images/applet/buy_international_hover.png");
}

/* score icon */
.score-icon {
    background-image: url("../images/applet/score.png");
    display: block;
    width: 24px;
    height: 22px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-color: transparent;
}

.score-icon.active {
    background-image: url("../images/applet/score_acitve.png");
}

div[class*="col"].select-content {
    padding: 10px;
}

.product-list {
}

.product-list li {
    padding: 5px;
}

.product-list li .product-item {
    cursor: pointer;
    background-color: #f36f2f;
}

.product-list li .product-content {
    padding: 17px;
}

.product-list li .product-content h5 {
    font-family: "NimbusSanTCon Bold";
    font-size: 20px;
    line-height: 20px;
    color: #231f20;
}

.product-list li .product-content p {
    font-family: "NimbusSanTCon";
    font-size: 14px;
    line-height: 18px;
    color: #231f20;
}

.view-product-button {
    width: 145px;
    height: 50px;
    font-family: "Swiss911";
    font-size: 25px;
    line-height: 42px;
    border: 4px solid #f36f2f;
    text-align: center;
    color: #FFFFFF;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -72px;
    margin-top: -25px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.view-product-button:hover, .view-product-button:focus, .view-product-button:visited {
    background-color: #f36f2f;
    color: #FFFFFF;
}

.product-list li .product-item:hover .view-product-button {
    display: block;
}

.product-img {
    background-color: #3a3334;
}

.product-list li .product-item:hover .product-img > img {
    opacity: 0.5;
}

/* buy online list */
.buy-online-list {
    float: left;
    margin-bottom: 45px;
}

.buy-online-list li {
    padding: 5px;
}

.buy-online-list li .buy-online-item {
    cursor: pointer;
    background-color: #f36f2f;
    display: block;
    color: #FFFFFF;
    text-align: center;
}

.buy-online-list li .buy-online-item > p {
    font-family: "NimbusSanTCon";
    font-size: 14px;
    color: #231f20;
    padding: 5px;
}

.buy-online-list li .buy-online-item:hover img {
    opacity: 0.5;
}

/* property list */
.property-list {
}

.property-list li {
    border-bottom: 1px solid #6f696a;
    width: 100%;
    float: left;
}

.property-list li .property-item {
    padding: 8px 0;
    display: block;
    color: #FFFFFF;
    font-family: "NimbusSanTCon";
    font-size: 19px;
    line-height: 1;
    width: 100%;
    float: left;
    cursor: pointer;
}

.property-list li .property-item:hover {
    color: #f26622;
}

.property-list li .property-item .score-icon {
    float: left;
    width: 20%;
}

.local-contact-info {
    color: #f26622;
    font-family: "NimbusSanTCon";
}

.local-contact-info p {
    font-size: 13px;
}

.local-contact-info p.user-name {
    font-size: 23px;
}

.local-contact-info p.address {
    color: #FFFFFF;
}

.international-contact-info {
    color: #f26622;
    font-family: "NimbusSanTCon";
}

.international-contact-info p {
    font-size: 16px;
}

.international-contact-info p.user-name {
    font-size: 30px;
}

.international-contact-info p.address {
    color: #FFFFFF;
}

.international-score-list .score-icon {
    float: left;
    width: 40px;
    height: 38px;
    background-size: 100%;
    margin-right: 25px;
}

.capacity-text {
    font-family: "NimbusSanTCon";
    font-size: 20px;
    color: #ccc6c0;
}

.capacity-value {
    font-family: "Swiss911";
    font-size: 98px;
    color: #ccc6c0;
    line-height: 1;
}

.pulling-capacity {
    position: absolute;
    left: 0;
    top: 25px;
}


/*************************** section3 stylesheet end *****************************/

/*************************** section4 stylesheet start *****************************/

#section4 h1 {
    font-family: "Swiss911";
    font-size: 90px;
    color: #FFFFFF;
    margin: 38px 0 38px 90px;
}

/* feed list stylesheet */
#wire_list {

}

.feed-wrap {
    padding: 0;
}

.feed-wrap:nth-child(12n+1) .feed-info, .feed-wrap:nth-child(12n+1) .feed-content-overlay  { background-color: #f26522; }
.feed-wrap:nth-child(12n+2) .feed-info, .feed-wrap:nth-child(12n+2) .feed-content-overlay { background-color: #231f20; }
.feed-wrap:nth-child(12n+3) .feed-info, .feed-wrap:nth-child(12n+3) .feed-content-overlay { background-color: #c8c2bd; }
.feed-wrap:nth-child(12n+4) .feed-info, .feed-wrap:nth-child(12n+4) .feed-content-overlay { background-color: #f26522; }
.feed-wrap:nth-child(12n+5) .feed-info, .feed-wrap:nth-child(12n+5) .feed-content-overlay { background-color: #c8c2bd; }
.feed-wrap:nth-child(12n+6) .feed-info, .feed-wrap:nth-child(12n+6) .feed-content-overlay { background-color: #231f20; }
.feed-wrap:nth-child(12n+7) .feed-info, .feed-wrap:nth-child(12n+7) .feed-content-overlay { background-color: #f26522; }
.feed-wrap:nth-child(12n+8) .feed-info, .feed-wrap:nth-child(12n+8) .feed-content-overlay { background-color: #c8c2bd; }
.feed-wrap:nth-child(12n+9) .feed-info, .feed-wrap:nth-child(12n+9) .feed-content-overlay { background-color: #231f20; }
.feed-wrap:nth-child(12n+10) .feed-info, .feed-wrap:nth-child(12n+10) .feed-content-overlay { background-color: #c8c2bd; }
.feed-wrap:nth-child(12n+11) .feed-info, .feed-wrap:nth-child(12n+11) .feed-content-overlay { background-color: #f26522; }
.feed-wrap:nth-child(12n+12) .feed-info, .feed-wrap:nth-child(12n+12) .feed-content-overlay { background-color: #231f20; }

.feed-info {
    word-wrap: break-word;
    font-size: 22px;
    line-height: 26px;
    height: 300px;
    font-family: "NimbusSanTCon";
    position: relative;
    background-size: cover;
    cursor: pointer;
}

.feed-info .feed-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.feed-info.has-bg {
    background-color: transparent !important;
}

.feed-info .feed-avatar,
.feed-info .feed-user-name,
.feed-info .feed-time {
    opacity: 0;
}

.feed-info:hover .feed-avatar,
.feed-info:hover .feed-user-name,
.feed-info:hover .feed-time {
    opacity: 1;
}

.feed-info.has-bg .feed-content {
    opacity: 0;
}

.feed-info.has-bg:hover .feed-content-overlay,
.feed-info.has-bg:hover .feed-content {
    opacity: 1;
}

.feed-content-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}

.feed-info-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 1;
}

.feed-info.has-bg:hover .feed-content-overlay {
    opacity: 0.5;
}

.feed-avatar {
    float: left;
}

.feed-avatar img {
    border-radius: 50px;
    max-width: 100%;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.feed-user-name,
.feed-user-name > a {
    margin-top: 10px;
    font-family: "NimbusSanTCon";
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1;
}

.feed-content {
    height: 150px;
    overflow: hidden;
    clear: both;
    margin-top: 25px;
    padding-right: 20px;
    font-family: "NimbusSanTCon";
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.feed-content > a,
.feed-content > a:hover {
    color: #FFFFFF;
    text-decoration: underline;
    font-family: "NimbusSanTCon";
    font-weight: bold;
    font-size: 18px;
}

.feed-content h3 {
    margin-top: 25px;
    font-family: "NimbusSanTCon";
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}

.feed-content p {
    font-family: "NimbusSanTCon";
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.feed-time {
    font-family: "NimbusSanTCon";
    font-size: 14px;
    color: #FFFFFF;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

/*************************** section4 stylesheet end *****************************/

/*************************** section5 stylesheet start *****************************/

#section5 {
    background-color: #f26522;
}

#section5 .section-content {
    padding: 37px;
}

#section5 img {
    width: 128px;
}

/*************************** section5 stylesheet end *****************************/

/*************************** bottom section stylesheet start *****************************/

.bottom-section {
    background-color: #3a3334;
}

.bottom-section .section-content {
    padding: 30px 60px 30px 38px;
}

.bottom-section h1,
.bottom-section h2,
.bottom-section h3,
.bottom-section h4,
.bottom-section h5 {
    color: #f26522;
}

.bottom-nav {
    float: left;
    margin-right: 30px;
}

.bottom-nav li {

}

.bottom-nav li > h5 {
    font-family: "NimbusSanTCon";
    color: #f26522;;
    font-size: 14px;
}

.bottom-nav li > a {
    font-family: "NimbusSanTCon";
    color: #FFFFFF;
    font-size: 10px;
}

.contact-info h3 {
    font-family: "NimbusSanTCon";
    color: #f26522;
    font-size: 28px;
    margin-bottom: 10px;
}

.contact-info h3 i {
    color: #ccc6c0;
    font-size: 18px;
}

.bottom-section .sign-me-content {
    padding: 0;
}

.bottom-section .sign-me-content h4 {
    font-family: "NimbusSanTCon";
    font-size: 18px;
    margin: 24px 0 14px 0;
}

.bottom-section .sign-me-content .sign-me-up {
    border-color: #f26522;
    color: #FFFFFF;
}

.bottom-section .sign-me-content .sign-me-up:hover {
    background-color: #f26522;
}

.bottom-certification {
    margin: 15px 0;
}

.copyright {
    font-family: "NimbusSanTCon";
    color: #c8c2bd;
    font-size: 10px;
}

/*************************** bottom section stylesheet end *****************************/