.search-content {
}

#searchform {
    position: absolute;
    left: 0;
    bottom: 70px;
}

#searchform input[type="text"] {
    background-color: #1a1718;
    width: calc(100% - 60px);
    float: left;
}

#searchsubmit {
    width: 60px;
    height: 60px;
    background-color: #f26622;
    text-align: center;
    color: #1a1718;
    float: right;
    font-size: 24px;
}

.social-content {
    background-color: #3a3334;
    width: 181px;
    height: 70px;
    padding-left: 25px;
    padding-top: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.social-list {
    list-style: none;
    padding: 0;
    float: left;
}

.social-list li {
    float: left;
    margin-right: 35px;
}

.social-list li:last-child {
    margin-right: 0;
}

.social-list li a {
    display: block;
}

.social-list li .facebook {
    background: url("../images/facebook.png") no-repeat scroll 0 0 transparent;
    width: 13px;
    height: 29px;
}

.social-list li .facebook:hover {
    background: url("../images/facebook_hover.png") no-repeat scroll 0 0 transparent;
}

.social-list li .twitter {
    background: url("../images/twitter.png") no-repeat scroll 0 0 transparent;
    width: 27px;
    height: 29px;
}

.social-list li .twitter:hover {
    background: url("../images/twitter_hover.png") no-repeat scroll 0 0 transparent;
}

.social-list li .instagram {
    background: url("../images/instagram.png") no-repeat scroll 0 0 transparent;
    width: 26px;
    height: 29px;
}

.social-list li .instagram:hover {
    background: url("../images/instagram_hover.png") no-repeat scroll 0 0 transparent;
}

.sidebar-navbar-collapse {
    float: none;
    position: relative;
    left: 10px;
    top: 0px;
    z-index: 20;
}

.sidebar-navbar-collapse .icon-bar {
    background-color: #f26622;
}

.page-main-wrapper {
    margin: 0;
    padding: 0;
}

.page-main-wrapper section {
    position: relative;
    clear: both;
}

.section-bg {
    z-index: -1;
    position: relative;
    left: 0;
    top: 0;
}

.section-bg img {
    width: 100%;
    height: auto;
}

.section-content {
    position: relative;
    left: 181px;
    top: 0;
    width: calc(100% - 181px);
    height: 100%;
}

.section-content .container-fluid {
    padding: 0;
}

.section-content .row {
    margin: 0;
}

.section-content div[class*="col"] {
    padding: 0;
}

.btn_see_gator {
    width: 228px;
    height: 93px;
    line-height: 73px;
}

.btn_see_gator:hover {

}

/*************************** section1 stylesheet start *****************************/

#section1 .section-content {
    background: url("../images/section2.jpg") no-repeat scroll center center / cover transparent;
    padding: 65px 75px;
}

#section1 h1 {
    font-family: "Swiss911";
    font-size: 90px;
    color: #ffffff;
}

#section1 .content-title-divider {
    background-color: #f26622;
    width: 290px;
    height: 10px;
}

#section1 .gator-logo {
    margin-top: 20px;
    width: auto;
}

#section1 .btn_play_button {
    background: url("../images/play_button.png") no-repeat scroll 0 0 transparent;
    width: 147px;
    height: 147px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 0;
    margin-top: -73px;
}

#section1 .btn_play_button:hover {
    background: url("../images/play_button_hover.png") no-repeat scroll 0 0 transparent;
}

#section1 .btn_see_gator {
    margin-top: 290px;
}

/*************************** section1 stylesheet end *****************************/

/*************************** category section stylesheet start *****************************/

.category-section {
    background-color: #231f20;
    padding: 27px 0;
}

.category-nav {
    width: 100%;
    text-align: center;
}

.category-nav li {
    display: inline-block;
    margin: 0 15px;
    text-align: center;
}

.category-nav li > a {
    color: #6f6969;
    font-family: "Swiss911";
    font-size: 34px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
}

.category-nav li > a:hover {
    color: #ccc6c0;
}

.category-nav li.divider {
    width: 2px;
    height: 25px;
    background-color: #f26522;
}

/*************************** category section stylesheet end *****************************/

/*************************** section2 stylesheet start *****************************/

#section2 {
    background-color: #f26522;
}

#section2 .section-content {
    padding: 30px 60px 30px 30px;
}

#section2 .team-orange {
    width: auto;
    margin: 50px auto;
    display: block;
}

.sign-me-content {
    padding: 0 60px;
}

.sign-me-content h3 {
    font-family: "NimbusSanTCon Bold";
    font-size: 22px;
    color: #231f20;
}

.sign-me-content p {
    font-family: "NimbusSanTCon";
    font-size: 14px;
    line-height: 28px;
    color: #231f20;
    margin: 10px 0;
}

.sign-me-email {

}

.sign-me-up {

}

.sign-me-up {
    background-color: transparent;
    border: 7px solid #231f20;
    font-family: "Swiss911";
    font-size: 24px;
    color: #231f20;
    text-decoration: none;
    width: 100%;
    height: 60px;
    line-height: 1;
    text-align: center;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.sign-me-up:hover {
    background-color: #231f20;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.sign-me-content .row {
    margin-left: -6px;
    margin-right: -6px;
}

.sign-me-content div[class*="col"] {
    padding-left: 6px;
    padding-right: 6px;
}

/*************************** section2 stylesheet end *****************************/

/*************************** section3 stylesheet start *****************************/

#section3 img {
    width: 100%;
}

#section3 button {
    width: 207px;
    height: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -103px;
    margin-top: -37px;
}

/*************************** section3 stylesheet end *****************************/

/*************************** section4 stylesheet start *****************************/

#section4 h1 {
    font-family: "Swiss911";
    font-size: 90px;
    color: #FFFFFF;
    margin: 38px 0 38px 90px;
}

/* feed list stylesheet */
#wire_list {

}

.feed-wrap {
    padding: 0;
}

.feed-wrap:nth-child(12n+1) .feed-info, .feed-wrap:nth-child(12n+1) .feed-content-overlay  { background-color: #f26522; }
.feed-wrap:nth-child(12n+2) .feed-info, .feed-wrap:nth-child(12n+2) .feed-content-overlay { background-color: #231f20; }
.feed-wrap:nth-child(12n+3) .feed-info, .feed-wrap:nth-child(12n+3) .feed-content-overlay { background-color: #c8c2bd; }
.feed-wrap:nth-child(12n+4) .feed-info, .feed-wrap:nth-child(12n+4) .feed-content-overlay { background-color: #f26522; }
.feed-wrap:nth-child(12n+5) .feed-info, .feed-wrap:nth-child(12n+5) .feed-content-overlay { background-color: #c8c2bd; }
.feed-wrap:nth-child(12n+6) .feed-info, .feed-wrap:nth-child(12n+6) .feed-content-overlay { background-color: #231f20; }
.feed-wrap:nth-child(12n+7) .feed-info, .feed-wrap:nth-child(12n+7) .feed-content-overlay { background-color: #f26522; }
.feed-wrap:nth-child(12n+8) .feed-info, .feed-wrap:nth-child(12n+8) .feed-content-overlay { background-color: #c8c2bd; }
.feed-wrap:nth-child(12n+9) .feed-info, .feed-wrap:nth-child(12n+9) .feed-content-overlay { background-color: #231f20; }
.feed-wrap:nth-child(12n+10) .feed-info, .feed-wrap:nth-child(12n+10) .feed-content-overlay { background-color: #c8c2bd; }
.feed-wrap:nth-child(12n+11) .feed-info, .feed-wrap:nth-child(12n+11) .feed-content-overlay { background-color: #f26522; }
.feed-wrap:nth-child(12n+12) .feed-info, .feed-wrap:nth-child(12n+12) .feed-content-overlay { background-color: #231f20; }

.feed-info {
    word-wrap: break-word;
    font-size: 22px;
    line-height: 26px;
    height: 300px;
    font-family: "NimbusSanTCon";
    position: relative;
    background-size: cover;
    cursor: pointer;
}

.feed-info .feed-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.feed-info.has-bg {
    background-color: transparent !important;
}

.feed-info .feed-avatar,
.feed-info .feed-user-name,
.feed-info .feed-time {
    opacity: 0;
}

.feed-info:hover .feed-avatar,
.feed-info:hover .feed-user-name,
.feed-info:hover .feed-time {
    opacity: 1;
}

.feed-info.has-bg .feed-content {
    opacity: 0;
}

.feed-info.has-bg:hover .feed-content-overlay,
.feed-info.has-bg:hover .feed-content {
    opacity: 1;
}

.feed-content-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}

.feed-info-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 1;
}

.feed-info.has-bg:hover .feed-content-overlay {
    opacity: 0.5;
}

.feed-avatar {
    float: left;
}

.feed-avatar img {
    border-radius: 50px;
    max-width: 100%;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.feed-user-name,
.feed-user-name > a {
    margin-top: 10px;
    font-family: "NimbusSanTCon";
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1;
}

.feed-content {
    height: 150px;
    overflow: hidden;
    clear: both;
    margin-top: 25px;
    padding-right: 20px;
    font-family: "NimbusSanTCon";
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.feed-content > a,
.feed-content > a:hover {
    color: #FFFFFF;
    text-decoration: underline;
    font-family: "NimbusSanTCon";
    font-weight: bold;
    font-size: 18px;
}

.feed-content h3 {
    margin-top: 25px;
    font-family: "NimbusSanTCon";
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}

.feed-content p {
    font-family: "NimbusSanTCon";
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.feed-time {
    font-family: "NimbusSanTCon";
    font-size: 14px;
    color: #FFFFFF;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

/*************************** section4 stylesheet end *****************************/

/*************************** section5 stylesheet start *****************************/

#section5 {
    background-color: #f26522;
}

#section5 .section-content {
    padding: 37px;
}

#section5 img {
    width: 128px;
}

/*************************** section5 stylesheet end *****************************/

/*************************** bottom section stylesheet start *****************************/

.bottom-section {
    background-color: #3a3334;
}

.bottom-section .section-content {
    padding: 30px 60px 30px 38px;
}

.bottom-section h1,
.bottom-section h2,
.bottom-section h3,
.bottom-section h4,
.bottom-section h5 {
    color: #f26522;
}

.bottom-nav {
    float: left;
    margin-right: 30px;
}

.bottom-nav li {

}

.bottom-nav li > h5 {
    font-family: "NimbusSanTCon";
    color: #f26522;;
    font-size: 14px;
}

.bottom-nav li > a {
    font-family: "NimbusSanTCon";
    color: #FFFFFF;
    font-size: 10px;
}

.contact-info h3 {
    font-family: "NimbusSanTCon";
    color: #f26522;
    font-size: 28px;
    margin-bottom: 10px;
}

.contact-info h3 i {
    color: #ccc6c0;
    font-size: 18px;
}

.bottom-section .sign-me-content {
    padding: 0;
}

.bottom-section .sign-me-content h4 {
    font-family: "NimbusSanTCon";
    font-size: 18px;
    margin: 24px 0 14px 0;
}

.bottom-section .sign-me-content .sign-me-up {
    border-color: #f26522;
    color: #FFFFFF;
}

.bottom-section .sign-me-content .sign-me-up:hover {
    background-color: #f26522;
}

.bottom-certification {
    margin: 15px 0;
}

.copyright {
    font-family: "NimbusSanTCon";
    color: #c8c2bd;
    font-size: 10px;
}

/*************************** bottom section stylesheet end *****************************/